.post {
    background-image: url('../img/post.png');
    background-size: cover;
    background-repeat: no-repeat;
}

// @media (min-device-pixel-ratio: 2),
//   (-webkit-min-device-pixel-ratio: 2),
//   (min-resolution: 192dpi),
//   (min-resolution: 2dppx) {
//   .post {
//     background-image: url('./../img/post_bcgr@2x.png');
//   }
// }

.post__btn {
    margin: 75px 150px 75px 150px; 
}